/*box model: 
-display: block;
-solo funciona en elementos display block
-div la tiene por defecto
-funciona si las cajitas o los elementos tiene algun contenido
-comportamiento por defecto:
    -ocupa tdo el ancho de la pantalla 
    -altura depende del contenido
-como funciona:
    -los elementos tienen contenido
    -y tiene uun tamaño de contenido */


    /*MARGIN:
    - determina el espacio entre los elementos
    -solo aplica a elementos display block
    -computado de margenes
    -colapsp de margenes
    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
border-top-color: rgb(190, 175, 175);
border-top-style: solid;
border-top-width: 10px;

border-right: 10px dotted rgb(15, 129, 133);
border-right-style: dashed;
border-right-width: 10px;

border-bottom-color: rgb(127, 122, 131);
border-bottom-style: double;
border-bottom-width: 10px;

border-left-color: rgb(143, 80, 226);
border-left-style: solid;
border-left-style: 17px;
}

.box1{
margin: 20px 40px;
background-color: rgb(27, 176, 187);
padding: 50px 45px 2px;
display:block;
height: 100px;
width: 300px;
overflow: hidden;
border-bottom-left-radius: 50px;     /*se manipula las esquinas*/
border-bottom-right-radius: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 10px;
}

.box2{
background-color: rgb(118, 116, 121);
padding: 2px 4px 6px 8px ;
display:block;
height: 200px;
width: 200px;
padding: 65px;
opacity: 0.5;
text-align: center;
justify-content: center;
margin-top: 100px;
border-radius: 50%;
margin: 100px;
}
